


.HeroesList {
        font-family: 'Marvel', sans-serif;
        border: solid;
        
}
.ul{
        list-style: none;
        margin: 0;
        padding: 0;
        margin: 20px;

}
 .a{
         text-decoration: none;
         color: #0574BC;
         font-weight: bold;
 }
 .a:hover {
         text-decoration: underline;
 }