
.SplitPane-left{
    display: inline-block;
    width: 45%;
    position: relative;
}

.SplitPane-rigth{
    display: inline-block;
    width: 45%;   
    position: relative;
}

.SplitPane{
    font-family: 'Marvel', sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
}